################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Console to MVC/PracticeMVC/.vs/PracticeMVC
/Console to MVC/PracticeMVC/PracticeMVC/bin/Debug/netcoreapp3.1
/Console to MVC/PracticeMVC/PracticeMVC/obj
